/* .contacts {
    height: 900px;
    background-size: cover;
    background-position: center;
    position: sticky;
  } */
  
  /* .contacts::after {
    content: "";
    display: block;
    opacity: .4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
  } */
  
  /* .contacts * {
    position: relative;
    z-index: 2;
  } */
  
  .contacts h1, .contacts h2 {
    color: palevioletred;
  }

  * {
      background-color: antiquewhite;
  }
  
  /* .contacts h1 {
    font-size: 60px;
    padding-top: 140px;
    margin-top: 0;
  } */